[submodule "third_party/freertos-plus-tcp"]
	path = third_party/freertos-plus-tcp
	url = https://github.com/FreeRTOS/FreeRTOS-Plus-TCP.git
[submodule "third_party/coreSNTP"]
	path = third_party/coreSNTP
	url = https://github.com/FreeRTOS/coreSNTP.git
[submodule "third_party/BearSSL"]
	path = third_party/BearSSL
	url = https://www.bearssl.org/git/BearSSL
[submodule "third_party/coreMQTT"]
	path = third_party/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT
